html,body {
    scroll-behavior: smooth;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

}
body {
    font-family: Arial, sans-serif;
    background-color: #484848;
    color: #ffffff;
    display: block;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;

    
}

#currentTime {
    
    font-size: 24px;
    font-weight: bold;
    
}
.currentTimeContainer {
    text-align: center; 
}
.mainContainer {
    width: 100vw;
    background-color: rgb(59, 59, 59);
    align-items: center;
    text-align: center;
    margin-bottom: 3vw;
    
    
}

.cell {
    padding: 5px;
    border-bottom: 1px solid #4e4e4e;
    text-align: center;
    background-color: #333333;
    
}
.center-container {
    width: 100%;
    margin: 0 auto;

}
.current-activity-description {
    padding: 2px; 
}
.activity-time {
    font-weight: bold;
    color: #ffffff;
    padding: 5px;

}
#schedule-table {
    
    border-collapse: collapse;
    margin: 0 auto;
}
